{{!--
    Search History Widget \ Top Searches
    ====================================

    @used-by `charcoal/admin/widget/search/top-search`
--}}
{{# hasSearchHistory }}
<div class="o-section">
    <header class="o-header">
        <h2>Recherches plus populaires</h2>
    </header>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Mot-clé</th>
                <th>Nombre de recherches</th>
                <th>Nombre de résultats</th>
            </tr>
        </thead>
        <tbody>
        {{# searchHistory }}
            <tr>
                <td>{{keyword}}</td>
                <td>{{num_searches}}</td>
                <td>{{num_results}}</td>
            </tr>
        {{/ searchHistory }}
        </tbody>
    </table>
</div>
{{/ hasSearchHistory }}
